@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html {
    width: 300px;
    height: 400px;
}

body {
    margin: 0px;
    font-family: 'Noto Sans Japanese', sans-serif;
}