@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html, body {
    width: 300px;
    height: 400px;
    overflow-y: scroll;
}

body {
    margin: 0px;
    font-family: 'Noto Sans Japanese', sans-serif;
}

#app-list {
    position: relative;
    top: 45px;
}


.app-panel {
    position: relative;
    display: inline-block;
    padding: 2px;
    width: 71px;
    height: 71px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

.app-panel > img {
    width: 48px;
    height: 48px;
}

.app-panel > div {
    width: 100%;
    overflow: hidden;
    font-size: 11px;
}

.app-panel:hover {
    background-color: #e9e7e4;
    border-radius: 2px;
}

#searchbox {
    border-radius: 2px;
    padding: 10px;
    color: #263238;
    width: 280px;
    padding-bottom: 0px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
}

#search-input {
    width: calc(280px - 30px);
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-size: 13px;
    position: relative;
    top: -7px;
}

.search-icon {
    color: #555;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.idx {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
}